{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}

{% block custom_css %}
{% endblock custom_css %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
        <meta name="keywords" content="{{keyword}}" >
    {% endfor %}

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% elif article.headline %}
        <meta name="description" content="{{ article.headline }}">
    {% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}

    {% for author in article.authors %}
        <meta name="author" content="{{ author }}">
    {% endfor %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}">
    {% endfor %}
{% endblock %}

{% block twitter_card %}
    {% for name,link in SOCIAL if name in ['twitter'] %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        <meta name="twitter:title" content="{{ article.title|striptags }}">

        {% if article.twitter_image %}
            {% if article.twitter_image|lower|truncate(4, True, '') == "http" %}
                <meta property="twitter:image" content="{{ article.twitter_image }}">
            {% else %}
                <meta property="twitter:image" content="{{ SITEURL }}/{{ article.twitter_image }}">
            {% endif %}
        {% elif article.header_cover %}
            <meta name="twitter:image" content="{{ SITEURL }}{{ article.header_cover }}">
        {% elif HEADER_COVER %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
        {% else %}
            <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}

        {% if description %}
            <meta name="twitter:description" content="{{ description }}">
        {% elif article.headline %}
            <meta name="twitter:description" content="{{ article.headline }}">
        {% else %}
            <meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
        {% endif %}
    {% endfor %}
{% endblock %}
{% block opengraph %}
	{{ super() }}
	<meta property="og:type" content="article">
        {% for author in article.authors %}
            <meta property="article:author" content="{{ SITEURL }}/{{ author.url }}">
        {% endfor %}
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
	<meta property="og:title" content="{{ article.title|striptags }}">
	<meta property="article:published_time" content="{{ article.date }}">
    {% if description %}
    <meta property="og:description" content="{{ description }}">
    {% elif article.headline %}
    <meta property="og:description" content="{{ article.headline }}">
    {% elif article.summary %}
    <meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
    {% endif %}
    <meta property="og:image" content="{{ main_siteurl }}/images/news/{{ article.slug }}.jpg">

{% endblock %}

{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.category.name|translate(DEFAULT_LANG) }}</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block language_url %}{{ article.url }}{% endblock %}


{% block content %}
    <!-- Post Content -->
    <article class="text-content">
        <h1>{{ article.title|striptags }}</h1>
        <span class="article-meta"><i>{{article.date| strftime(DATE_FORMATS[DEFAULT_LANG])}}</i></span>

        <p><strong>{{ article.summary }}</strong></p>

        <img src="{{ main_siteurl }}/images/news/{{ article.slug }}.jpg" class="news-full-image">

        {{ article.content }}
    </article>

    {% if article.tags %}
        <div class="tags">
            <p>tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
        </div>
    {% endif %}
{% endblock content %}
