{% extends "base.html" %}
{% set index = (hidden_pages|hidden_pages_get_page_with_slug_index) %}
{% set paragraphs = hidden_pages|index_paragraphs%}

{% block custom_js %}
    <!-- Only on frontpage -->
    {% if output_file == 'index.html'%}
        <script src="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/js/index-features-tabs.js"></script>
    {% endif %}
{% endblock custom_js %}

{% block custom_css %}
        <link rel="stylesheet"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom-index.css">
{% endblock custom_css %}

{% block opengraph %}
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}">
	<meta property="og:title" content="{{ SITENAME }}">
    {% set description = SITESUBTITLE|translate(DEFAULT_LANG) %}
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/images/dylan-leagh-unsplash.jpg">
{% endblock %}

{% block header %}
        <div class="container">
            <div class="row">
                <div>
                    <div class="page-heading">
                        <img src="{{ main_siteurl}}/images/logo/logo_yakforms_clair.svg" alt="Yakforms">
                        {% if SITESUBTITLE %}
                            <span class="subheading">{{ SITESUBTITLE|translate(DEFAULT_LANG) }}</span>
                        {% endif %}
                        {% if SOCIAL and SHOW_SOCIAL_ON_INDEX_PAGE_HEADER %}
                            <ul class="list-inline text-center">
                            {% for name,link in SOCIAL %}
                                <li>
                                    <a href="{{ link }}">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-{{ name|lower }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block content %}

        <div class='text-content alert-info last-news-teaser'>
            {% if articles|length > 0 %}
                <h2><i class="fa fa-bullhorn" aria-hidden="true"></i> {{ articles[0].title }}</h2>
                {{ articles[0].summary }} <a href='{{articles[0].url}}'>{{"Read more"|translate(DEFAULT_LANG) }} »</a>
            {% endif %}
        </div>
    {% for par in paragraphs %}
        <div class="text-content {{ par.class }}" {% if par.id %}id="{{ par.id }}"{% endif %}>
            {{ par.content }}

            {% if par.btarget is defined %}
                <div class='frontpage-btn'>
                    <a href="{{ par.btarget }}"">
                        <span>
                            <i class="fa fa-{{ par.bicon }} frontpage-btn-label" aria-hidden="true"></i>
                        </span>
                        <span>
                            <div class='links-group-subtitle frontpage-btn-label'>{{ par.btext }}</div>
                        </span>
                    </a>
                </div>
            {% endif %}

        </div>
    {% endfor %}
{% endblock content %}
