{% extends "index.html" %}

{% block custom_css %}
    {% if output_file == 'pages/install.html'%}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/install.css" rel="stylesheet">
    {% endif%}
{% endblock custom_css %}

{% block title %}
    {{ SITENAME }} | {{ page.title }}
{% endblock title %}

{% block header %}
    <!-- Page Header -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block language_url %}
{{ page.url }}
{% endblock %}


{% block content %}
    <article class="text-content">
        {{ page.content }}
    </article>
{% endblock content %}

{% block opengraph %}
	<meta property="og:type" content="page">
	<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
	<meta property="og:title" content="{{ page.title|striptags }}">
    <meta property="og:image" content="{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/images/dylan-leagh-unsplash.jpg">
    {% set description = SITESUBTITLE|translate(DEFAULT_LANG) %}
    <meta property="og:description" content="{{ description }}">
{% endblock %}
