.text-content:nth-child(odd) {
  background-color: #CFBEC7!important;
  color: black;
}

.text-content:nth-child(odd) a {
  color: #5E2644!important;
  text-decoration: none;
}

.text-content:nth-child(odd) a:hover {
  text-decoration: underline;
}

.intro-header {
  margin-bottom: 0px;
}

.last-news-teaser p, .last-news-teaser a {
  display: block;
  line-height: 1;
}

.last-news-teaser a {
  padding-left: .5em;
}

.features-tabs p {
  display: none;
}

.features-tabs {
  text-align: center;
}

a[role='tab'] {
  padding: .5rem 1rem;
  margin: 0px 2px 0px 2px;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  width: 120px;
}

a[role='tab'].tab-active {
  background: #5E2644;
  color: white;
}

.tab-show {
  display: block!important;
  font-size: smaller;
  padding: 0 3em 0;
}
.tab-show strong {
  display: block;
  font-size: larger;
}

.tab-show img {
  margin-bottom: 20px;
}

#frontpage-stats {
  text-align: center;
}

.stats-number {
  font-family: 'Quando';
  font-size: 2em;
  color: #5E2644;
}

.stats-label {
  font-family: 'Quando';
  font-size: 1.2em;
  color: #5E2644;
}

#they-installed {
  text-align: center;
}

#they-installed img {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  display: inline;
}

#they-installed p {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

#they-installed img {
  object-fit: scale-down;
  background: #fff;
  width: 150px !important;
  height: 150px !important;
  padding: 5px;
}

#screenshot-form-creation {
  background: unset;
  text-align: center;
}

#screenshot-form-creation > p > img {
  width: 90%;
  border-radius: 5px;
}

#screenshot-form-creation > p > i {
  color: white;
}

.frontpage-btn-label {
  color: white;
}

.frontpage-btn-label:hover {
  color: #CFBEC7;
}

.frontpage-btn {
  margin-left: 30%;
  background-color: #5E2644;
}

@media screen and (max-width: 768px) {

  a[role='tab'] {
    margin: 20px 2px 0px 2px;
  }

  .frontpage-btn {
    margin-left: 25%;
    width: 50%;
    padding: .5em;
  }

  #they-installed p {
    display: block;
  }

  #they-installed img {
    margin: 10px;
  }
}
